#topGame {
    background-color: yellow;
    display: block;
    height:10%;
    width:100%;
    position:fixed;
    top:0;
    left:0;



}

#pageGame {
    background-color: aquamarine;
    display: block;
    height:90%;
    width:100%;
    position:absolute;
    top:95px;
    left:0;


}